In [ ]:
",".join('abcd')

'a,b,c,d'

In [ ]:
"태민 지환 용현 예슬 지완".replace('','')

'태민 지환 용현 예슬 지완'

In [ ]:
cc = "태민 지환 용현 예슬 지완".split(' ')

In [ ]:
cc

['태민', '지환', '용현', '예슬', '지완']

In [ ]:
e = []

In [ ]:
e

[]

In [ ]:
rr = ['aaa' , 1111 , {1,2,3},{'a':'b'}]

In [ ]:
for i in rr:
 print(i)

aaa
1111
{1, 2, 3}
{'a': 'b'}

In [ ]:
c = [1,2,3]
print(len(c))

3

In [ ]:
c[0] = 4
c

[4, 2, 3]

In [ ]:
c[1] = 5
c

[4, 5, 3]

In [ ]:
del c[1]
c

[1, 3]

In [ ]:
c = [1,2,3,4]

In [ ]:
del c[2:]
c

[1, 2]

In [ ]:
c.append([1,2,3])
c

[1, 2, [1, 2, 3], [1, 2, 3]]

In [ ]:
c =[2,1,3,4]
c.sort()
c

[1, 2, 3, 4]

In [ ]:
c.reverse()
c

[4, 3, 2, 1]

In [ ]:
c.index(2)

2

In [ ]:
c.insert(0,6)

In [ ]:
c

[6, 4, 3, 2, 1]

In [ ]:
c.pop()

1

In [ ]:
c

[6, 4, 3, 2]

In [ ]:
c.pop(1)
c

[6, 3, 2]

In [ ]:
c=[1,1,1,1,1,1,1]

In [ ]:
c.count(1)

7

In [ ]:
a = [1,2,3]
b = [4,5,6]

In [ ]:
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [ ]:
#튜플

In [ ]:
t1 = (1,2,3,4,5,6)

In [ ]:
#딕셔너리

In [ ]:
a = {'이름':'김기찬','회사':'게임아이'}

In [ ]:
type(a)

dict

In [ ]:
a = {'이름s' : ['태민,혜린,용현']}

In [ ]:
a

{'이름s': ['태민,혜린,용현']}

In [ ]:
a['이름s']

['태민,혜린,용현']

In [ ]:
b = a.get('이름s')
b

['태민,혜린,용현']

In [ ]:
b[0]

'태민,혜린,용현'

In [ ]:
a['좋아하는챔피언'] = '녹턴'

In [ ]:
a

{'이름s': ['태민,혜린,용현'], '좋아하는챔피언': '녹턴'}

In [ ]:
a.get('좋아하는챔피언')

'녹턴'

In [ ]:
a['라인전주챔'] = {'탑' : '잭스','미드' : '아리'}

In [ ]:
a

{'이름s': ['태민,혜린,용현'], '좋아하는챔피언': '녹턴', '라인전주챔': {'탑': '잭스', '미드': '아리'}}

In [ ]:
a.keys()

dict_keys(['이름s', '좋아하는챔피언', '라인전주챔'])

In [ ]:
a.values()

dict_values([['태민,혜린,용현'], '녹턴', {'탑': '잭스', '미드': '아리'}])

In [ ]:
a.items()

dict_items([('이름s', ['태민,혜린,용현']), ('좋아하는챔피언', '녹턴'), ('라인전주챔', {'탑': '잭스', '미드': '아리'})])

In [ ]:
list(a.items())

[('이름s', ['태민,혜린,용현']), ('좋아하는챔피언', '녹턴'), ('라인전주챔', {'탑': '잭스', '미드': '아리'})]

In [ ]:
c = {"aa","bb"}

In [ ]:
'bb' in c

True

In [ ]:
price = ['20180728' , 100,130,140,150,160,170]

In [ ]:
del price[0]
price

[100, 130, 140, 150, 160, 170]

In [ ]:
interest = ['삼성전자', 'lg전자','naver']

In [ ]:

print(interest[0],interest[2])

삼성전자 naver

In [ ]:
icecream_price = {'이름':'희망가격','메로나':1000,'폴라포':1200,'빵빠레':1800}
icecream_price
type(icecream_price)

dict

In [ ]:
money = 2000

In [ ]:
if(money >2000) :
    print('택시타')
else :
    print('걸어가')

걸어가

In [ ]:
a = 8

In [ ]:
if(a%3 == 0) : 
    print('3')
else : 
    print('0')

0

In [ ]:
if(a%3 == 0 or a%5 == 0) : 
    print('정답')
else : 
    print('틀림')

틀림

In [ ]:
a=0
a

0

In [ ]:
while a<10:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
a = 0
while(True):
    print(a)
    a+=2

    if(a>20):
        break

In [ ]:
score_list = [90,80,24,37,59]

In [ ]:
len(score_list)

5

In [ ]:
 a = 0
for i in score_list:
    a += 1 
    print(i)
    if (i>=60) :
        
        print(a,'번재 학생은 합격') 
        
    else :
       
        print(a,'번째 학생은 불합격')

90
1 번재 학생은 합격
80
2 번재 학생은 합격
24
3 번째 학생은 불합격
37
4 번째 학생은 불합격
59
5 번째 학생은 불합격

In [ ]:

list = []


cnt = 0
for i in range(10):
   
    if i >1 :
        a = []
        for j in range(10):
            if j>0: 
                a.append(i*j)
                if j == 9:                
                    list.insert(cnt,a)
                    cnt += 1

In [ ]:
print(list)

[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63], [8, 16, 24, 32, 40, 48, 56, 64, 72], [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [ ]:
my_list = [[20,38],[41,50],[2,4],[3,4],[5,8],[9,10]]

In [ ]:
plus = 0
for i in my_list:
    # print(i)
    for j in i:
        if(j%2==0):
            plus += j

In [ ]:
plus

NameError: name 'plus' is not defined

In [ ]:
def test(a,b):
    return a+b

In [ ]:
test(1,3)

4

In [ ]:
def test1(num):
    if(num >=80):
        print("합격")
    else:
        print("불합격")

In [ ]:
test1(85)

합격

In [ ]:
input("숫자를 입력하세요")

'55'

In [ ]:
class Test:
    def __init__(self):
        self.result = 0

    def add(self,num):
        self.result += num
        return self.result

In [ ]:
num_list = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
def add(a):
    b =a*3
    return b
def bbb(c):
    if c%2 ==0 :
        return c*2
    else :
        pass

In [ ]:
list2 = list(map(add,num_list))
print(list2)

list3 = list(map(bbb,num_list))
print(list3)

list4 = list(filter(None,list3))
print(list4)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[None, 4, None, 8, None, 12, None, 16, None, 20]
[4, 8, 12, 16, 20]

In [ ]:
num = input()

num1 = str(num) 

num2 = num1[7]


if(num2) == 1 :
    gender = "남자"
else :
    gender = "여자"

print(gender)

여자

In [86]:



phones = {"S5": 2014, "S7": 2016, "note8": 2017, "S9": 2018, "S10": 2019}
phones_list = []

for i in phones :
    #print(i)
    #print(phones[i])

    phones_list.append([i,phones[i]])

print(phones_list)

ininput = input()

for i in phones_list :
    if(ininput == i[0]) :
        print(i[1])

[['S5', 2014], ['S7', 2016], ['note8', 2017], ['S9', 2018], ['S10', 2019]]

In [102]:
def change(a) :
# 9~12
    b = list(a)
    b[9] = '#'
    b[10] = '#'
    b[11] = '#'
    b[12] = '#'
    z = "".join(b)  
    return z


inininput = input()

change(inininput)

'010-0000-####'

In [123]:
import pandas as pd

In [104]:
lst = ['탑','다리우스','정글','비에고']
lst

['탑', '다리우스', '정글', '비에고']

In [105]:
series =  pandas.Series(lst)

In [106]:
series

0       탑
1    다리우스
2      정글
3     비에고
dtype: object

In [108]:
dic = {}
dic['lane'] = 'Top'
dic['champion'] = '가렌'
dic

{'lane': 'Top', 'champion': '가렌'}

In [111]:
series = pd.Series(dic)
series

lane        Top
champion     가렌
dtype: object

In [114]:
series.loc['champion']

'가렌'

In [117]:
series.iloc[0]

'Top'

In [118]:
tmp = pd.Series([3,2,4],index=['kills','deaths','assists'])

In [120]:
new_series = pd.concat([series,tmp])
new_series

lane        Top
champion     가렌
kills         3
deaths        2
assists       4
dtype: object

In [125]:
import pandas as pd
df = pd.DataFrame(new_series)
df

            0
lane      Top
champion   가렌
kills       3
deaths      2
assists     4

In [127]:
df = pd.DataFrame([new_series])
df

  lane champion  kills  deaths  assists
0  Top       가렌      3       2        4

In [137]:
lst = [['jungle','리 신',0,4,1],['mid','아지르',7,2,1]]
lst

[['jungle', '리 신', 0, 4, 1], ['mid', '아지르', 7, 2, 1]]

In [162]:
a_df= pd.DataFrame(lst,columns=['lane','championName','kills','deaths','assists'])

In [133]:
a_df

     lane champion  kills  deaths  assists
0  jungle      리 신      0       4        1
1     mid      아지르      7       2        1

In [163]:
dic = {'lane':['BOTTOM','SUPPORTER'],'championName':['제리','룰루'],'kills':[2,0],'deaths':[0,2],'assists':[5,15]}
b_df=pd.DataFrame(dic)

In [164]:
new_df = pd.concat([a_df,b_df])
new_df

        lane championName  kills  deaths  assists
0     jungle          리 신      0       4        1
1        mid          아지르      7       2        1
0     BOTTOM           제리      2       0        5
1  SUPPORTER           룰루      0       2       15

In [153]:
new_df.iloc[0]

level_0              0
index                0
lane            jungle
championName       리 신
kills                0
deaths               4
assists              1
Name: 0, dtype: object

In [160]:
new_df.reset_index()
new_df

   index       lane championName  kills  deaths  assists
0      0     jungle          리 신      0       4        1
1      1        mid          아지르      7       2        1
2      0     BOTTOM           제리      2       0        5
3      1  SUPPORTER           룰루      0       2       15

In [165]:
new_df.reset_index(inplace=True)
new_df

   index       lane championName  kills  deaths  assists
0      0     jungle          리 신      0       4        1
1      1        mid          아지르      7       2        1
2      0     BOTTOM           제리      2       0        5
3      1  SUPPORTER           룰루      0       2       15

In [167]:
new_df.drop('index',axis=1, inplace= True)

In [168]:
new_df

        lane championName  kills  deaths  assists
0     jungle          리 신      0       4        1
1        mid          아지르      7       2        1
2     BOTTOM           제리      2       0        5
3  SUPPORTER           룰루      0       2       15

In [170]:
new_df.sort_values(by=['kills'], ascending=False)

        lane championName  kills  deaths  assists
1        mid          아지르      7       2        1
2     BOTTOM           제리      2       0        5
0     jungle          리 신      0       4        1
3  SUPPORTER           룰루      0       2       15

In [171]:
lst = [['TOP','blue','이렐리아',7,2,7],['MID','blue','바루스',18,0,4],
       ['BOTTOM','blue','애쉬',1,5,15],['TOP','red','일라오이',3,9,0],
       ['MID','red','벡스',1,10,3],['BOTTOM','red','제리',11,9,2]]

In [172]:
df = pd.DataFrame(lst,columns=['lane','team','championName','kills','deaths','assists'])

In [174]:
df

     lane  team championName  kills  deaths  assists
0     TOP  blue         이렐리아      7       2        7
1     MID  blue          바루스     18       0        4
2  BOTTOM  blue           애쉬      1       5       15
3     TOP   red         일라오이      3       9        0
4     MID   red           벡스      1      10        3
5  BOTTOM   red           제리     11       9        2

In [175]:
df['condition'] = 'none'
df

     lane  team championName  kills  deaths  assists condition
0     TOP  blue         이렐리아      7       2        7      none
1     MID  blue          바루스     18       0        4      none
2  BOTTOM  blue           애쉬      1       5       15      none
3     TOP   red         일라오이      3       9        0      none
4     MID   red           벡스      1      10        3      none
5  BOTTOM   red           제리     11       9        2      none

In [178]:
df['condition'] = df.apply(lambda x:'good' if x.deaths <6 else 'bad',axis=1)

In [179]:
df['kda'] = 'None'

In [180]:
df

     lane  team championName  kills  deaths  assists condition   kda
0     TOP  blue         이렐리아      7       2        7      good  None
1     MID  blue          바루스     18       0        4      good  None
2  BOTTOM  blue           애쉬      1       5       15      good  None
3     TOP   red         일라오이      3       9        0       bad  None
4     MID   red           벡스      1      10        3       bad  None
5  BOTTOM   red           제리     11       9        2       bad  None

In [185]:
def kda(x,y,z) :
    if(y ==0) :
        y = 1
    kda = (x + z) / y
    return kda

df['kda'] = df.apply(lambda x : kda(x.kills,x.deaths,x.assists) , axis=1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().